.btn-block {
    background-color:gray;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}

button {
    background-color:yellow;
    height: 50px;
    width: 100px;
}

.red {
    background-color:red;
}

.blue {
    background-color:blue;
}